@import "mixins";
@import "variables";

.fs-18 {
  line-height: 1.4;

  @include respond($mobile) {
    font-size: 18px;
  }
  @include respond(0, $mobile) {
    font-size: 16px;
  }
}

.mt-10 {
  margin-top: 10px;
}

.mt-8 {
  margin-top: 8px;
}
