$white: #fff;
$black: #0c1b24;
$blue: #4cb3ec;
$gray: #f0f0f0;
$mobile: 1024px;
$address-border: #d8d8d8;
$boat: #3a96c9;
$light-gray: #f0f0f0;
$section-bg: #f9f9fa;
$annotation-color: #bcbcbc;
$font-family: "Exo 2", sans-serif;