@import "variables";
@import "mixins";
@import "fonts";
@import "typography";

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  font-family: $font-family;
  font-size: 100%;
  color: $black;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-inner {
  flex: 1 0 auto;
}

.form-bottom {
  margin-top: 16px;

  @include respond(0, 680px) {
    flex-direction: column;
  }
}

form {
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    border: none;
    padding: 18px 24px;
    outline: none;
  }

  textarea {
    resize: none;
    min-height: 100px;
  }
}

footer {
  flex: 0 0 auto;

  @include respond($mobile) {
    padding: 56px 0;
  }

  @include respond(0, $mobile) {
    padding: 30px 0;
  }

  .information-list {
    margin-top: 34px;
  }

  .i-icon {
    width: 64px;
    height: 64px;
    @include respond(780px) {
      margin-top: 30px;
    }
    @include respond(0, 780px) {
      margin-top: 15px;
    }
  }
}

.depot-container {
  display: flex;
  justify-content: flex-end;
}

.train {
  width: 50px;
  height: 50px;
  background: $white;
  border: 1px solid $black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  bottom: 58px;
  transition: all 250ms ease;
  opacity: 0;
  visibility: hidden;

  &.shown {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    background: $blue;
    border-color: $blue;

    svg {
      fill: $white;
    }
  }

  svg {
    transition: all 250ms ease;
    pointer-events: none;
    user-select: none;
  }
}

.footer-column {
  @include respond(0, 780px) {
    text-align: center;
  }

  &:nth-child(1) {
    @include respond($mobile) {
      padding-top: 12px;
      flex: 1;
      padding-right: 25px;
    }
    @include respond(780px, $mobile) {
      width: 50%;
    }
    @include respond(0, 780px) {
      order: 3;
      margin-top: 30px;
    }
    @include respond(780px, $mobile) {
      margin-bottom: 30px;
    }
  }

  &:nth-child(2) {
    @include respond($mobile) {
      padding-right: 76px;
    }
    @include respond(780px, $mobile) {
      padding-left: 30px;
      width: 50%;
    }
  }

  &:nth-child(3) {
    @include respond($mobile) {
      margin-left: auto;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: $black;
      display: inline-block;
      text-decoration: none;
      transition: color 250ms ease;

      &:hover {
        color: $blue;
      }
    }

    ul {
      li {
        margin-bottom: 14px;

        a {
          @include respond($mobile) {
            font-size: 18px;
          }
          @include respond(0, $mobile) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.footer-link_large {
  font-weight: bold;
  line-height: 1.4;

  @include respond($mobile) {
    font-size: 30px;
    margin-bottom: 20px;
  }

  @include respond(0, $mobile) {
    font-size: 24px;
    margin-bottom: 12px;
  }

  &:hover {
    color: $blue;
  }
}

.footer-inner {
  display: flex;
  @include respond(780px) {
    flex-wrap: wrap;
  }
  @include respond(0, 780px) {
    flex-direction: column;
  }
}

.i-icon {
  background: transparentize($blue, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 250ms ease;

  svg {
    transition: all 250ms ease;
  }

  &:hover {
    background: $blue;

    svg {
      fill: $white;
    }
  }
}

.logo {
  display: inline-block;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.header-image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  overflow: hidden;

  .logo {
    flex: 1;
    margin-right: 30px;
  }

  @include respond(640px) {
    padding: 45px 0;
  }

  @include respond(0, 640px) {
    padding: 25px 0 30px 0;
  }

  @include respond($mobile) {
    min-height: 355px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    @include respond(0, $mobile) {
      background: rgba(0, 0, 0, 0.55);
    }
    @include respond($mobile) {
      background: rgba(0, 0, 0, 0.55);
    }
  }
}

.information-order {
  @include respond(0, 637px) {
    order: 2;
  }
}

.header-inner {
  @include respond($mobile) {
    margin-bottom: 78px;
  }

  @include respond(0, $mobile) {
    margin-bottom: 30px;
  }

  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
  position: relative;

  .open-consultation {
    letter-spacing: 1px;
    max-width: 280px;
    height: 55px;

    @include respond(0, $mobile) {
      display: none;
    }
  }

  .phone {
    margin-bottom: 6px;
  }

  .information {
    @include respond($mobile) {
      margin: 0 62px 0 54px;
    }
    @include respond(640px, $mobile) {
      margin: 0 45px;
    }
    @include respond(0, 640px) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      color: $white;
      text-decoration: none;
      display: inline-block;
      transition: all 250ms ease;

      &:hover {
        color: $blue;
      }
    }
  }
}

.show-requisites {
  height: 60px;
  max-width: 275px;
  width: 100%;
}

.header-title {
  @include respond($mobile) {
    font-size: 48px;
  }
  @include respond(0, $mobile) {
    font-size: 28px;
  }
  margin: 0;
  color: $white;
  line-height: 1;
  font-weight: bold;
  transform: translateX(-3px);
  position: relative;
  z-index: 2;
}

.text-uppercase {
  text-transform: uppercase;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button {
  padding: 0 10px;
  line-height: 1.3;
  width: 100%;
  font-weight: 500;
  transition: color 250ms ease, background 250ms ease, border 250ms ease;

  &-white {
    color: $white;
    border: 1px solid $white;

    &:hover {
      background: $blue;
      border-color: $blue;
    }
  }

  &-blue {
    color: $white;
    background: $blue;
    border: 1px solid $blue;

    &:hover {
      background: $white;
      color: $blue;
      border-color: $blue;
    }
  }

  &-submit {
    color: $white;
    background: $blue;
    border: 1px solid $white;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;

    &:hover {
      background: $white;
      color: $blue;
      border-color: $white;
    }
  }
}

.form-policy {
  color: $white;
  font-size: 14px;
  line-height: 1.2;

  @include respond(680px) {
    padding-left: 32px;
    padding-right: 64px;
  }
  @include respond(0, 680px) {
    margin-top: 20px;
  }

}

.no-touch {
  .close-menu {
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
  }

  .address-item {
    &:hover {
      box-shadow: none;

      &:after {
        background: $white;
        box-shadow: 0 0 59px 0 rgba(0, 10, 16, 0.18);
      }
    }
  }

  .burger {
    &-line {
      transition: all 250ms ease;
    }

    &:hover {
      .burger-line {
        &:nth-child(1) {
          width: 26px;
        }

        &:nth-child(3) {
          width: 100%;
        }
      }
    }
  }
}

.burger {
  height: 16px;
  width: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &-line {
    display: block;
    height: 2px;
    background: $white;
    border-radius: 3px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:nth-child(3) {
      width: 26px;
    }
  }
}

.information-letter_space {
  @include respond($mobile) {
    letter-spacing: 1.28px;
  }
}

.information-scale {
  svg {
    transform: scale(1, 1);
  }
}

.container-justify {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-line {
  border-bottom: 2px solid $gray;
  padding-bottom: 34px;

  @include respond($mobile) {
    margin-bottom: 62px;
  }

  @include respond(0, $mobile) {
    margin-bottom: 30px;
  }
}

.information-list {
  display: flex;
  flex-direction: column;

  @include respond(0, 780px) {
    align-items: center;
  }

  .information-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.information-grid {
  display: grid;
  max-width: 600px;
  width: 100%;
  margin-bottom: 34px;

  @include respond($mobile) {
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  }

  @include respond(0, $mobile) {
    grid-row-gap: 18px;
  }

  .information-item {
    a {
      @include respond($mobile) {
        font-size: 20px;
      }
      @include respond(0, $mobile) {
        font-size: 18px;
      }
    }
  }
}

.fill-blue {
  fill: $blue;
}

.information-item {
  display: flex;
  align-items: center;

  @include respond($mobile) {
    font-size: 20px;
  }
  @include respond(0, $mobile) {
    font-size: 18px;
  }

  .information-item_link {
    text-decoration: none;
    color: $black;
    transition: color 250ms ease;

    &:hover {
      color: $blue;
    }
  }

  .svg-icon {
    margin-right: 22px;
  }
}

.svg-icon {
  fill: $blue;
}

.phone-icon {
  transform: rotate(-90deg);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  @include respond($mobile) {
    font-size: 36px;
  }
  @include respond(0, $mobile) {
    font-size: 26px;
  }
  color: $black;
  font-weight: bold;
  line-height: 1.333;
  margin: 0;
}

.page-content {
  @include respond($mobile) {
    margin-top: 124px;
  }
  @include respond(0, $mobile) {
    margin-top: 40px;
  }
}

#map {
  width: 100%;
  background: #f2f2f2;
  margin-bottom: 40px;

  @include respond($mobile) {
    height: 550px;
    margin-top: 45px;
  }
  @include respond(0, $mobile) {
    height: 300px;
    margin-top: 30px;
  }
}

.contact-list_title {
  font-size: 29px;
  color: $black;
  line-height: 1.655;
  margin-bottom: 28px;
}

.address-list {
  @include respond($mobile) {
    margin-bottom: 180px;
  }
  @include respond(0, $mobile) {
    margin-bottom: 80px;
  }
}

.contact-inner {
  > .column {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex: 1;

    @include respond(0, $mobile) {
      align-items: center;
    }

    &:first-child {
      flex: 1;
    }

    &:last-child {
      @include respond($mobile) {
        padding-left: 64px;
      }
    }
  }
}

.form-inner {
  button {
    height: 55px;
    max-width: 280px;
  }

  input {
    width: 100%;
  }

  .column {
    @include respond(680px) {
      width: calc(50% - 6px);
    }
  }
}

.close-menu {
  position: absolute;
  right: 0;
  top: 0;

  svg {
    fill: $blue;
    transition: transform 250ms ease;
  }
}

.boat-image {
  position: absolute;
  transform: translateY(15px);
  opacity: .25;
  fill: $boat;
  pointer-events: none;
  user-select: none;

  @include respond(0, $mobile) {
    display: none;
  }
}

.contact-form {;
  background: $blue;

  @include respond(0, $mobile) {
    padding: 36px 0;
  }

  .contact-inner {
    display: flex;

    @include respond($mobile) {
      height: 530px;
    }
    @include respond(0, $mobile) {
      flex-direction: column;
    }
  }

  form {
    max-width: 552px;
    width: 100%;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(0, 680px) {
      flex-direction: column;
    }

    .column {
      @include respond(0, 680px) {
        flex-direction: column;
        width: 100%;
      }

      &:not(:last-child) {
        @include respond(0, 680px) {
          margin-bottom: 10px;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  textarea {
    width: 100%;
  }

  .title {
    @include respond(0, $mobile) {
      font-size: 32px;
      margin-bottom: 5px;
    }
    @include respond($mobile) {
      transform: translateY(-12px);
      font-size: 50px;
      margin-bottom: 8px;
    }
    font-weight: bold;
    color: $white;
    line-height: 1.2;
    letter-spacing: .2px;
  }

  .annotation {
    font-weight: 500;
    @include respond(0, $mobile) {
      font-size: 18px;
      margin-bottom: 30px;
    }
    @include respond($mobile) {
      transform: translateY(-12px);
      font-size: 28px;
    }
    color: $white;
    line-height: 1.357;
    letter-spacing: .6px;
  }
}

.address-schedule {
  svg {
    margin-right: 10px;
  }
}

.address-map {
  padding-right: 34px;

  svg {
    margin-right: 4px;
  }

  a {
    text-decoration: none;
    color: $black;
    transition: all 250ms ease;

    &:hover {
      color: $blue;
    }
  }
}

.address-additional_item {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 8px;
}

.address-additional {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.address-phone {
  @include respond(0, $mobile) {
    margin-top: 15px;
  }
}

.phone-list {
  display: flex;
  flex-direction: column;

  a {
    &:not(:last-child) {
      @include respond($mobile) {
        margin-bottom: 10px;
      }
      @include respond(0, $mobile) {
        margin-bottom: 5px;
      }
    }
  }
}

.address-item_block {
  @include respond(0, 330px) {
    .phone-icon {
      display: none;
    }
  }
}

.address-item {
  background: $white;
  transition: box-shadow 250ms ease;
  position: relative;

  @include respond($mobile) {
    padding: 32px 35px;
  }

  @include respond(0, $mobile) {
    padding: 20px;
  }

  box-shadow: inset 0 0 0 1px $address-border;
  margin-bottom: -1px;

  .address-item_block {
    display: flex;
    position: relative;
    z-index: 2;

    @include respond($mobile) {
      align-items: center;
      padding-right: 30px;
    }

    @include respond(0, 640px) {
      flex-direction: column;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    img {
      display: block;
    }
  }

  .phone {
    font-size: 18px;
  }

  .responsive-block {
    display: flex;

    @include respond(0, $mobile) {
      flex-direction: column;
    }
  }

  .address-info {

  }

  .responsive-block {
    flex-wrap: wrap;
  }

  .responsive-block,
  .address-info {
    flex: 1;
  }

  .address-image {
    @include respond($mobile) {
      margin-right: 50px;
    }

    @include respond(0, 640px) {
      margin-bottom: 15px;
    }

    @include respond(640px, $mobile) {
      margin-right: 30px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 250ms ease;
    z-index: 1;
  }

}

.menu-inner {
  padding-top: 16px;
  position: relative;

  @include respond(870px) {
    display: flex;
  }

  .value {
    a {
      text-decoration: none;
      color: $black;
      transition: color 250ms ease;
      display: inline-block;

      &:hover {
        color: $blue;
      }
    }
  }

  ul {
    a {
      text-decoration: none;
      color: $black;
      transition: color 250ms ease;
      display: inline-block;

      &:hover {
        color: $blue;
      }
    }
  }

  .column {
    position: relative;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {

      @include respond(940px) {
        max-width: 525px;
        width: 100%;
        flex: 1;
      }
      @include respond(0, 940px) {
        max-width: 360px;
        width: 100%;
      }
      max-width: 525px;
      width: 100%;
      flex: 1;

      @include respond(870px) {
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 14px;
          bottom: -12px;
          width: 2px;
          background: $gray;
        }
      }
    }

    &:nth-child(2) {
      flex: 1;

      @include respond(1080px) {
        padding-left: 72px;
      }
      @include respond(870px, 1080px) {
        padding-left: 30px;
      }

      ul {
        flex: 1;
      }
    }

    > ul {
      > li {
        ul {
          a {
            @include respond($mobile) {
              font-size: 24px;
              line-height: 2;
              margin-bottom: 12px;
              font-weight: 300;
            }
            @include respond(0, $mobile) {
              font-size: 18px;
              line-height: 1.3;
              margin-bottom: 11px;
              font-weight: 300;
            }
          }
        }

        > a {
          @include respond($mobile) {
            font-size: 36px;
            line-height: 1.333;
            margin-bottom: 22px;
          }
          @include respond(0, $mobile) {
            font-size: 24px;
            line-height: 1.3;
            margin-bottom: 11px;
          }
        }
      }
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .large-link {

  }
}

.menu-information_item {
  &:nth-child(2) {
    flex: 1;
  }

  &:nth-child(1) {
    margin-right: 55px;
  }
}

.menu-information {
  padding-bottom: 12px;

  @include respond($mobile) {
    display: flex;
  }
  @include respond(0, $mobile) {
    margin-top: 15px;
  }

  .label {
    line-height: 2.1;

    @include respond($mobile) {
      font-size: 22px;
    }
    @include respond(0, $mobile) {
      font-size: 18px;
    }
  }

  .i-icon {
    width: 78px;
    height: 78px;
    transform: translateY(18px);
  }

  .value {
    line-height: 1.5;

    @include respond($mobile) {
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -8px;
        max-width: 50px;
        width: 100%;
        height: 2px;
        background: $blue;
      }
    }

    @include respond($mobile) {
      font-size: 22px;
    }
    @include respond(0, $mobile) {
      font-size: 18px;
    }
  }
}

.menu-opened {
  @include respond(0, $mobile) {
    overflow: hidden;
  }

  .menu {
    display: block;
  }
}

.menu {
  background: $white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;

  @include respond(0, $mobile) {
    position: fixed;
    overflow-y: auto;
    padding-top: 30px;
    padding-bottom: 55px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.38);
    bottom: 0;
  }

  @include respond($mobile) {
    min-height: 770px;
    position: absolute;
    padding-top: 60px;
    padding-bottom: 115px;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: calc(50% + 20px);
      height: 40px;
      right: 0;
      background: $white;
    }

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: calc(50% - 20px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 40px 0;
      border-color: transparent $white transparent transparent;
    }
  }
}

.swiper-container {
  &:not(.swiper-container-initialized) {
    opacity: 0;
  }

  .swiper-container-initialized {
    opacity: 1;
  }
}

.breadcrumbs {

  @include respond($mobile) {
    padding: 50px 0 55px 0;
  }

  @include respond(0, $mobile) {
    padding: 25px 0;

  }


  svg {
    margin: 0 6px 0 2px;
  }

  a {
    transition: color 250ms ease;

    &:hover {
      color: $blue;
    }
  }

  span,
  a {
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    display: inline-block;
    letter-spacing: 1.5px;
  }
}

.work-page {
  overflow: hidden;
  @include respond($mobile) {
    padding-bottom: 125px;
  }
  @include respond(0, $mobile) {
    padding-bottom: 30px;
  }
}

.work-page,
.works-page {
  background: $section-bg;
}

.works-page {
  background: $section-bg;

  @include respond($mobile) {
    padding-bottom: 120px;
  }
  @include respond(0, $mobile) {
    padding-bottom: 50px;
  }
}

.grid {

  &-3 {
    @include respond($mobile) {
      grid-gap: 60px;
    }
    @include respond(550px, $mobile) {
      grid-gap: 30px;
    }
    @include respond(550px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
  }

  .card {
    background: $white;
    transition: box-shadow 250ms ease;

    @include respond(0, 550px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &:hover {
      box-shadow: 0 0 19px 1px rgba(102, 102, 102, 0.2);
    }
  }

  .content {
    @include respond($mobile) {
      padding: 26px 35px 42px 35px;
    }
    @include respond(0, $mobile) {
      padding: 20px;
    }
  }

  .image {
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  .title {
    @include respond($mobile) {
      font-size: 26px;
    }
    @include respond(0, $mobile) {
      font-size: 20px;
    }
    line-height: 1.32;
    font-weight: bold;
  }

  .annotation {
    @include respond($mobile) {
      font-size: 16px;
    }
    @include respond(0, $mobile) {
      font-size: 14px;
    }
    color: $annotation-color;
    line-height: 1.5;
    margin-top: 24px;
    margin-bottom: 12px;
  }
}

.grid-bottom {
  margin-top: 36px;
  text-align: center;
}

.detail-page_link {
  font-size: 18px;
  color: $black;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: color 250ms ease;

  @include respond(0, $mobile) {
    margin: 10px 0;
  }

  &:hover {
    color: $blue;

    svg {
      margin-left: 26px;
      fill: $blue;
    }
  }

  svg {
    margin-left: 20px;
    transition: all 220ms ease;
    transform: translateY(2px);
  }
}

.load-more_button {
  color: $blue;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;

  &:after {
    content: '';
    left: 0;
    right: 0;
    top: calc(100% + 3px);
    display: block;
    height: 1px;
    background: $blue;
  }
}

.work-slider {

  .pagination {
    display: flex;
    position: relative;
    z-index: 1;
    transform: translateY(-35px);
    flex-wrap: wrap;
  }

  .swiper-pagination-bullet-active {
    background: $blue;
  }

  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background: $bullet-inactive;
  }

  .swiper-pagination-bullet {
    &:not(:last-child) {
      margin: 0 15px 15px 0;
    }

    outline: 0;
    transition: background 250ms ease;
    border-radius: 0;
    opacity: 1;
    width: 50px;
    height: 3px;
    display: block;

    &:hover {
      background: $blue;
    }
  }

  .swiper-slide {
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    transition: box-shadow 250ms ease;

    &:hover {
      box-shadow: 0 0 59px 0 rgba(0, 10, 16, 0.2);
    }
  }

  .swiper-wrapper {
    padding-bottom: 70px;
  }

  &.swiper-container {
    overflow: visible;
    @include respond($mobile) {
      margin-top: 75px;
    }
    @include respond(0, $mobile) {
      margin-top: 35px;
    }
  }
}

.customer-row:first-child {
  margin-bottom: 30px;
}

.customer-label {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.357;
  margin-bottom: 10px;
}

.customer-value {
  font-size: 20px;
  line-height: 1.3;
}

.product-mark {
  max-width: 210px;
  height: 45px;
  width: 100%;
  background: $blue;
  color: $white;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.product-image {
  display: block;
}

.image-large {
  position: relative;

  @include respond(750px) {
    max-width: 550px;
  }
  @include respond(0, 750px) {
    flex: 1;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
  }
}

.product-block {
  display: flex;

  @include respond($mobile) {
    padding-bottom: 120px;
  }
  @include respond(0, $mobile) {
    padding-bottom: 30px;
  }

  @include respond(0, 750px) {
    flex-direction: column;
  }

  .thumbnails {
    display: flex;
    flex-direction: column;
    margin-right: 12px;

    a {
      padding: 8px;
      display: inline-block;
      margin-bottom: 2px;

      &.active,
      &:hover {
        box-shadow: 0 0 0 2px $blue;
      }
    }

    img {
      display: block;
    }
  }

  .product-gallery {
    display: flex;
    @include respond(750px) {
      max-width: 628px;
      width: 100%;
    }
  }

  .product-data {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include respond($mobile) {
      padding-top: 22px;
      min-width: 500px;
    }

    @include respond(750px, $mobile) {
      min-width: 350px;
    }
    @include respond(750px) {
      padding-left: 40px;
    }
    @include respond(0, 750px) {
      margin-top: 30px;
    }
  }

  .title {
    @include respond($mobile) {
      font-size: 24px;
    }
    @include respond(0, $mobile) {
      font-size: 20px;
    }
    font-weight: 500;
    line-height: 1.333;
    margin-bottom: 28px;
  }

  .annotation {
    @include respond($mobile) {
      font-size: 18px;
    }
    @include respond(0, $mobile) {
      font-size: 16px;
    }
    color: $annotation-color;
    line-height: 1.333;
  }
}

.count-wrapper {
  border: 1px solid $annotation-color;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  @include respond(0, 400px) {
    margin-bottom: 15px;
  }
  @include respond(400px) {
    max-width: 110px;
  }

  button {
    min-width: 30px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  input {
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0;
    font-size: 18px;
    text-align: center;
    border: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  outline: none;
}

.product-count {
  display: flex;
  margin-top: 22px;
  margin-bottom: 33px;

  @include respond(0, 400px) {
    flex-direction: column;
  }

  .button {
    @include respond(400px) {
      margin-left: 22px;
      max-width: 250px;
    }
    letter-spacing: 1px;
    height: 60px;
  }
}

.product-action {
  margin-top: auto;
  padding-top: 20px;
}

.news-date {
  font-size: 18px;
  color: $annotation-color;
  margin-left: 40px;
}

.news-page > .container {
  position: relative;
}

.news-inner {
  padding-right: 450px;
}

.news-wrapper {
  border-bottom: 2px solid $gray;
  position: relative;
}

.news-bar {
  max-width: 370px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 2px solid $gray;
  padding-top: 30px;

  .news-list {
    a {
      text-decoration: none;
      display: block;
      padding: 28px;
      border: 2px solid $gray;
      border-left: none;

      &:not(:last-child) {
        border-bottom: none;
      }

      &:hover {
        .name {
          color: $blue;
        }
      }
    }

    .date {
      color: $annotation-color;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .name {
      color: $black;
      font-weight: 600;
      transition: color 250ms ease;
    }
  }

  .news-train {
    position: sticky;
    top: 30px;
    transform: translateY(2px);
  }

  .title {
    padding-left: 28px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    min-height: 60px;
    display: flex;
    align-items: center;
  }
}

.news-top {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.news-content {
  img,
  p img {
    margin: 55px 0 45px 0;
  }

  .title {
    font-size: 38px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 24px;
  }

  p {
    font-size: 16px;
    line-height: 1.625;
  }
}

.product-price {
  span {
    font-size: 48px;
    font-weight: bold;
  }
}

.return-link {
  font-size: 18px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  color: $annotation-color;
  text-decoration: none;
  transition: color 250ms ease;

  &:hover {
    color: $blue;
  }

  svg {
    margin-right: 10px;
  }
}